


<ul class="nav nav-pills">
    <li class="nav-item" > <a class="nav-link active" aria-current="page" mat-raised-button routerLink="App-Comp" target="_self">App Comp</a></li>
    <li class="nav-item" > <a mat-raised-button routerLink="Parent" target="_self">Parent Comp</a></li>
    <li class="nav-item"> <a mat-raised-button routerLink="Child" target="_self">Child Comp</a></li>
    <li class="nav-item"> <a mat-raised-button routerLink="Rxjs" target="_self">Rxjs Comp</a></li>
    <li class="nav-item"> <a mat-raised-button routerLink="Promise" target="_self">Promis Comp</a></li>
    <li class="nav-item"> <a mat-raised-button routerLink="Observable" target="_self">Observable Comp</a></li>
    <li class="nav-item"> <a mat-raised-button routerLink="crud" target="_self">Crud Comp</a></li>
    <li class="nav-item"> <a mat-raised-button routerLink="ViewChild" target="_self">ViewChild Comp</a></li>
    <li class="nav-item"> <a mat-raised-button routerLink="Raju" target="_self">Intreview</a></li>
    <li class="nav-item"> <a mat-button routerLink="Binding" target="_self">Binding</a></li>
</ul>

<router-outlet></router-outlet>


  
  <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
  



<h1>App Component Works</h1>

<h2>Change Detection Strategy</h2>

<input type="text"[(ngModel)]="name">



<!-- <app-parent></app-parent> -->


  
  

